header {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    display: flex;
}

.navigation__list__item {
    padding-right: 32px;
}

.navigation__list__item:last-child {
    padding-right: 0;
}