li.development__list__item
  a.development__item__link
    .development__item__card
      .development__card__left
        img.development__card__left__bar(src=`${cardImage}` alt="")
      .development__card__right__bar
        p.card__right__bar__adress #{cardAddress}
        h3.card__right__bar__title #{cardTitle}
        p.card__right__bar__description #{cardDescription}