footer
  .footer__left__bar
    ul.footer__left__bar__list
      li.footer__left__bar__item
        h4.footer__left__bar__title ООО «Ярд»
        p.footer__left__bar__requisites ОГРН 1175074002531
        p.footer__left__bar__requisites ИНН 5036165365
        p.footer__left__bar__nobmer +7 (999) 821-14-88
  .footer__right__bar
    ul.footer__right__bar__list
      li.footer__right__bar__itemn
         h4.footer__right__bar__title Жилые комплексы
      li.footer__right__bar__item
        a.footer__right__bar__link(href="#") ВТБ Арена Парк
      li.footer__right__bar__item
        a.footer__right__bar__link(href="#") Садовые кварталы
      li.footer__right__bar__item
        a.footer__right__bar__link(href="#") Резиденция Монэ
      li.footer__right__bar__item
        a.footer__right__bar__link(href="#") Все ЖК Москвы
    ul.footer__right__bar__list
      li.footer__right__bar__item
        h4.footer__right__bar__title Компания
      li.footer__right__bar__item
          a.footer__right__bar__link(href="#") Команда
      li.footer__right__bar__item
          a.footer__right__bar__link(href="#") О компании
    p.footer__right__bar__rules
      | Любая информация, представленная на данном сайте,
      | носит исключительно информационный характер и ни при каких условиях не является публичной офертой,
      | определяемой положениями статьи 437 ГК РФ. © ООО «Ярд», 2017