//- - var list = [1, 2, 3, 4]
//-     ul.buttons
//-         each buttonText in list
//-             include ui/button.pug
header
    .logo-wrap
        img(src="assets/images/Logo.png")
    nav.navigation
        ul.navigation__list
            li.navigation__list__item 
                a.navigation__item__link(href="#") Купить
            li.navigation__list__item 
                a.navigation__item__link(href="#") Снять
            li.navigation__list__item 
                a.navigation__item__link(href="#") Наши агенты
